body{
    background: url('img/fondoJuego.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover; /*Safari y Chrome*/
    -moz-background-size: cover; /*Firefox*/
    -o-background-size: cover; /*Opera*/
    background-size: cover;
}

#padre{
    width: 1000px;
    opacity: 0.8;
    margin: 0 auto;
    padding: 1em;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(2, 2, 2, 0.76) 20px 22px 70px 4px;
}

#playM{
	width: 100px;
    margin: 0;
    height: 30px;
}

#pauseM{
    width: 100px;
    height: 30px;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
}

#aviso-movil-horizontal { 
    display: none; 
    background-color: black;
    width: 500px;
    font-size: 4.5em;
    text-align: center;
}


@media only screen and (orientation:portrait) {
    #wrapper { display:none; }
    #aviso-movil-horizontal { display:block; width: 100%; height: 100%; }
    body{
        background-color: black !important;
        background: url(''); 
    }
    #padre { display:none; }
}

@media only screen and (orientation:landscape) {
    #aviso-movil-horizontal { display:none;}
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    text-align: center;
}


#capa{
	width: 100%;
	height: 100%;
    opacity: .9;
    position: fixed;
    top: 0;
    left: 0;
	background-color: grey;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#palabra{
    text-align: center;
    margin-top: 1em;
}

#usadas{
    resize: none;  
    margin-top: 1em; 
}

#hms{
    margin-right: 7px;
    color: rgb(255, 238, 107);
}

p{
    margin-top: 1em; 
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    border-radius: 1.5em;
}

#padrecrono{
    height: 24px;
}

/* iPhone 5/SE */
@media (max-height: 320px) and (orientation: landscape){

    #padre{
        margin-top: 1em;
    }

    p{
        font-size: 30px;
    }
}